@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'GongGothicLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  overflow:hidden;
  font-family: 'Teko', 'GongGothicLight', 'GongGothicMedium', 'GongGothicBold', sans-serif;
}

img {
  display: block;
}

body {
  min-height:100vh;
  background-image:url(img/bg_1_0.png);
  background-color: #26272B;
  background-size:1920px;
  background-position:center;
  background-repeat:no-repeat;
  color: white;
}

body {
  cursor: url(img/cursor.png), auto !important;
}

.loading-box {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image:url("img/bn_1_1_1.svg");
  background-position:center;
  background-repeat:no-repeat;
  z-index:10;
  transition:opacity 0.3s, visibility 0.3s;
}

.loading-box.hide {
  opacity:0;
  visibility:hidden;
}

.blinking{ 
  -webkit-animation:blink 1.5s ease-in-out infinite alternate; 
  -moz-animation:blink 1.5s ease-in-out infinite alternate;
  animation:blink 1.5s ease-in-out infinite alternate; 
}

@-webkit-keyframes blink{ 
  0% {opacity:0;} 
  100% {opacity:1;} 
}

@-moz-keyframes blink{
  0% {opacity:0;} 
  100% {opacity:1;}
} 

@keyframes blink{ 
  0% {opacity:0;} 
  100% {opacity:1;} 
}

.top-bar {
  position: absolute;
  width: 166px;
  top:calc(50% - 320px);
  left:calc(50% + 500px);
  height:650px;
  text-align: center;
}

.top-bar > a > img{
  margin: 12px auto 61px auto;
  width: 75px;
  height: 100px;
}

.bn_1_1_0{
  position: absolute;
  top:calc(50% - 500px);
  left:calc(50% - 450px);
  width: 885px;
  height: 1022px;
}

.bn_1_2_0{
  position: absolute;
  top:calc(50% - 500px);
  left:calc(50% - 450px);
  width: 885px;
  height: 1022px;
}

.bn_1_1_2{
  position: absolute;
  top:calc(50% - 130px);
  left:calc(50% - 90px);
}

.bn_buttom_1 {
  position: absolute;
  width: 76px;
  height: 75px;
  z-index: 1;
  top:calc(50% - 70px);
  left:calc(50% + 280px);
}

.bn_buttom_2 {
  position: absolute;
  width: 76px;
  height: 75px;
  z-index: 2;
  top:calc(50% - 70px);
  left:calc(50% + 280px);
}

.box_1_2 {
  opacity:0;
  visibility:hidden;
}

.box_1_2.show {
  opacity:1;
  visibility:visible;
}

.about_1 {
  position: absolute;
  top:calc(50% - 535px);
  left:calc(50% - 900px);
  width: 1450px;
  height: 1080px;
}

.about_2{
  position: absolute;
  width: 423px;
  height: 545px;
  top:calc(50% - 458px);
  left:calc(50% - 757px);
}

.about_3{
  position: absolute;
  width: 426px;
  height: 644px;
  top:calc(50% - 270px);
  left:calc(50% - 18px);
}

.pf_1_1{
  position: absolute;
  height: 900px;
  width:1250px;
  top:calc(50% - 440px);
  left:calc(50% - 795px);
  }

.swiper-slide_1{
  display: flex;
  flex-direction: column;
}

.bn_3_1_1{
  border: 1px solid red;
  width: 412px;
  height: 530px;
}

.bn_3_1_2{
  border: 1px solid red;
  width: 412px;
  height: 72px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border: 1px solid red;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
}